@import "tailwindcss";

.main{
    margin: auto;
}

.botaoLigado {
    width: 100px;
    padding: 10px;
    margin: 10px;

    background-color: rgb(138, 0, 0);
    color: white;
}

.botaoDesligado {
    width: 100px;
    padding: 10px;
    margin: 10px;

    background-color: rgb(0, 77, 3);
    color: white;
}

.equipamentoLigado {
    width: 200px;
    padding: 10px;
    margin: 10px;

    background-color: rgb(0, 77, 3);
    color: white;

    text-align: center;
}

.equipamentoDesligado {
    width: 200px;
    padding: 10px;
    margin: 10px;

    background-color: rgb(138, 0, 0);
    color: white;
}